.git
.gitignore
.venv
venv
__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache

data/
uploads/
ragas_results.csv
test_questions.json
chroma_db/

docs/
notebooks/
Makefile
.dockerignore
.editorconfig
